@import "vars";
@import "mixins";

.features {
  background: rgba(0, 0, 0, 0.0001);
  @include fontFamilyLato;
}

.container {
  width: 100%;
  text-align: center;

  &__h {
    @include font-familyMontserrat;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: $mainColor;
    font-weight: bold;
    padding-top: 32px;
    margin: 0 auto;
  }
}

.container-offer-icon {
  &__img {
    margin: 0 auto;
  }

  &__heading {
    color: $textColor;
    @include font-familyMontserrat;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
  }

  &__text {
    color: $secondaryColor;
    margin-top: 14px;
    @include fontFamilyLato;
    font-size: 14px;
    line-height: 21px;
  }

  &__img-1 {
    width: 111px;
    margin-top: 36px;
    margin-bottom: 27px;
  }

  &__img-2 {
    width: 90px;
    margin-top: 38px;
    margin-bottom: 21px;
  }

  &__img-3 {
    width: 60px;
    margin-top: 40px;
    margin-bottom: 20px;

  }

  &__img-4 {
    width: 71px;
    margin-top: 42px;
    margin-bottom: 23px;
  }
}

.offer-img {
  margin-top: 64px;

  &__mobile {
    margin-right: -15px;
    display: block;
    margin-left: auto;
    width: 100%;
  }

  &__desktop {
    display: none;
  }
}


@media (min-width: 481px) {
  .container__h {
    font-weight: bold;
    font-size: 42px;
    line-height: 44px;
    padding-top: 62px;
  }

  .container-offer-icon {
    display: inline-block;
    margin-top: 60px;

    &__img {
      float: left;
    }

    &__text {
      display: flex;
      text-align: left;
      @include font-familyMontserrat;
    }

    &__heading {
      display: flex;
      text-align: left;
      line-height: 21px;
    }

    &__img-1 {
      margin: 0 0 0 10px;
    }

    &__img-2 {
      margin: 0 0 0 11px;
    }

    &__img-3 {
      margin: 0 0 0 26px;
    }

    &__img-4 {
      margin: 0 0 0 21px;
    }

    &__description {
      margin-left: 145px;
    }
  }

  .offer-img {
    margin-top: 76px;

    &__mobile {
      display: none;
    }
  }
  .offer-img__desktop {
    display: block;
    margin-left: auto;
    width: 100%;
    margin-right: -20px;
  }
}


@media (min-width: 993px) {
  .features {
    background-color: $backgroundColorFeature;
  }
  .container__h {
    font-size: 48px;
    line-height: 50px;
    float: right;
    padding-top: 94px;
    width: 50%;
  }
  .container-offer {
    margin-top: 64px;
    margin-bottom: 72px;
    margin-right: 23px;
  }
  .container-offer-icon {
    display: inline-block;
    margin-top: 34px;
  }
  .container-offer-icon__description {
    margin-left: 159px;
  }
  .container-features-icon {
    display: -webkit-box;
  }
  .offer-img {
    margin-top: 159px;
  }
  .offer-img__desktop {
    width: 720px;
    margin-bottom: 33px;
    margin-top: 18px;
  }
}