@mixin link {
    text-decoration: none;
    list-style: none;
}

@mixin fontFamilyLato () {
  font-family: "Lato", serif;
}

@mixin animate {
  transition: all .3s ease-out;
}

@mixin container($width){
    width: $width;
    margin: 0 auto;
    padding: 0 10px;
  }

  @mixin containerMedia($width){
    max-width: $width;
    padding: 0 10px;
  }

  @mixin fontChange($fz, $fw){
    font-size: $fz;
    font-weight: $fw;
  }
  
  